
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Pasando datos</h2>
    Edad: @ViewBag.edad
    <br/>
    Nombre: @ViewBag.Nombre

    <h2>Pasando objetos</h2>
    <table border="1">
        <tr>
            <td>Id</td>
            <td>@ViewBag.product.Id</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>@ViewBag.product.Nombre</td>
        </tr>
        <tr>
            <td>Precio</td>
            <td>@ViewBag.product.Precio</td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td>@ViewBag.product.Cantidad</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td><img src="~/Imagenes/@ViewBag.product.Imagen"/></td>
        </tr>
        <tr>
            <td>Total</td>
            <td>@(ViewBag.product.Precio * ViewBag.product.Cantidad)</td>
        </tr>
    </table>

    <br/>
    <h2>Lista de productos</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Imagen</th>
            <th>Total</th>
        </tr>
        @foreach (var producto in ViewBag.lista) {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Precio</td>
                <td>@producto.Cantidad</td>
                <td><img src="~/Imagenes/@producto.Imagen" width="65"/></td>
                <td>@(producto.Precio * producto.Cantidad)</td>
            </tr>
        }
    </table>
</body>
</html>
